-#.container
-#  #login-wraper
-#    %form.form.login-form
-#    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#      %legend
-#        Sign in to
-#        %span.blue File Sucker
-#      .body
-#        %label Email
-#        = f.email_field :email, autofocus: true, type:'text'
-#        %label Password
-#        = f.password_field :password, autocomplete: "off"
-#      .footer
-#        %label.checkbox.inline
-#          %input#inlineCheckbox1{:type => "checkbox", :value => "option1"}
-#            Remember me
-#        = f.submit "Login", :class => 'button btn btn-success'
-#
-#%footer.white.navbar-fixed-bottom
-#  Don't have an account yet?
-#  = link_to 'Register', new_user_registration_path , class: 'btn btn-black'

