/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 *= require typica-login
 */

/*-------------------------------------------------*/

body {
    background-color: #EFEFEF;
    font-family: "Lucida Grande","Verdana","Arial","Bitstream Vera Sans",sans-serif;
    font-size: 14px;
}

.header_wrapper {
    width: 880px;
    margin: 0 auto;
    overflow:hidden;
    padding:20px 0;
}
.logo a{
    color: #338DCF;
    float: left;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #FFFFFF;
    text-decoration:none;
}
#container {
    width: 800px;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 40px;
    border: solid 1px #BFBFBF;
}
#login_user_status {
    float:right;
}

/*---------------------------------------------------*/
.actions {
    float:right;
    font-size:11px;
}
.share, .rename, .download, .delete{
    float:left;
}
.asset_details .share a,.asset_details .rename a,.asset_details .download a,.asset_details .delete a{
    border: 1px solid #CFE9FF;
    font-size: 11px;
    margin-left: 5px;
    padding: 0 2px;
}
.asset_details .share a:hover,.asset_details .rename a:hover,.asset_details .download a:hover,.asset_details .delete a:hover{
    border:1px solid #8FCDFF;
}

.asset_details .delete a{
    color:#BF0B12;
    border:1px solid #FFCFD1;
}

.asset_details .delete a:hover{
    color:#BF0B12;
    border:1px solid #FF8F93;
}